repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
    exclude: data|tests/unit/test_assets
  - id: check-case-conflict
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: data
  - id: trailing-whitespace
    exclude: data

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.7
  hooks:
    - id: ruff
      args: [--fix]

- repo: https://github.com/psf/black
  rev: 25.9.0
  hooks:
    - id: black

- repo: local
  hooks:
    - id: pyright
      name: pyright
      entry: pyright
      language: system
      types: [python]
      pass_filenames: false
